.btn-outline {
	color: #4fbfa8;
	background-color: #ffffff;
	border-color: #4fbfa8;
	font-weight: bold;
	letter-spacing: 0.05em;
}
  
  .btn-outline {
	color: #4fbfa8;
	background-color: #ffffff;
	border-color: #4fbfa8;
	font-weight: bold;
	border-radius: 0.25em;

  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
	background: #4fbfa8;
	color: #ffffff;
	border-color: #4fbfa8;
	
  }
  
  

  
